
// !!!!!!!!!!!!!!!!!! ВНИМАНИЕ !!!!!!!!!!!!!!!!!!
//     Это автоматически сгенерированный файл
// (все изменения пропадут при следующей сборке).

#ifndef APSTUDIO_INVOKED

#include <alicorn\version\version.rc>

#endif
